/* Estilos personalizados para SweetAlert */
.custom-swal-container {
  background-color: #2ecc71; /* Cambia el color de fondo del contenedor */
  color: #ffffff; /* Cambia el color del texto */
}

.custom-swal-title {
  color: #ffffff; /* Cambia el color del título */
}

.custom-swal-text {
  color: #ffffff; /* Cambia el color del texto */
}

.custom-swal-button {
  background-color: #3498db; /* Cambia el color del botón de confirmación */
  color: #ffffff; /* Cambia el color del texto del botón de confirmación */
}
