body{
  background-image: url(https://i.pinimg.com/originals/cb/84/95/cb8495bfd8a20954e42a16c4c77c7927.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}