.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  min-width: 480px;
}

.container_form {
  padding: 50px;
  border-radius: 50px;
  background: transparent;
  backdrop-filter: blur(15px);
  border: 3px solid greenyellow;
  min-width: 380px;
}

.input {
  padding: 5px;
  margin-right: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid greenyellow;
  color: white;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 30px;
  width: 100%;
  min-width: 280px;
}

.button {
  width: 100%;
  padding: 10px 25px;
  font-size: 16px;
  /* margin-left: 10px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border: 2px solid #010e05;
  background-color: #a1e945;
  color: black;
  border-radius: 15px;
  min-width: 280px;
}

.input::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(145, 145, 145);
}

.button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.input:focus {
  outline: none;
  background-color: none;
  /* background-color: dimgrey; */
}
